<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">   
</head>
<body>

    <nav class="nav">
        <a href="/home">
            <img src="{{ url_for('static', filename='img/pucpr.png') }}" alt="PUCPR Logo">
        </a>
        <div class="nav-left">
              
            <div class="escolha">
                <select onchange="if (this.value) window.location.href=this.value">
                    <option value="">-- Ações --</option>
                    {% if user_permission == "admin" %}
                        <option value="/register_user">Registrar Usuário</option>
                        <option value="/register_tema">Registrar Tema</option>
                        <option value="/register_routine">Registrar nova Rotina</option>
                        <option value="/registre_device">Registrar novo Dispositivo</option>
                    {% elif user_permission == "usuario1" %}
                        <option value="/registrar_tema">Registrar Tema</option>
                        <option value="/register_routine">Registrar nova Rotina</option>
                        <option value="/registre_device">Registrar novo Dispositivo</option>
                    {% else %}
                        <option value="/registre_device">Registrar novo Dispositivo</option>
                    {% endif %}
                </select>
            </div>

            <div class="escolha">
                <select onchange="if (this.value) window.location.href=this.value">
                    <option value="">-- Acessar --</option>
                    {% if user_permission == "admin" %}
                        <option value="/user">Usuários</option>
                        <option value="/tema">Temas</option>
                        <option value="/rotina">Rotinas</option>
                        <option value="/dispositivo">Dispositivos</option>
                    {% elif user_permission == "usuario1" %}
                        <option value="/tema">Temas</option>
                        <option value="/rotina">Rotinas</option>
                        <option value="/dispositivo">Dispositivos</option>
                    {% else %}
                        <option value="/dispositivo">Dispositivos</option>
                    {% endif %}
                </select>
            </div>

            <div class="escolha">
                <select name="" id="">
                    <option value="">-- Dados dos Sensores --</option>
                    {% if user_permission == "admin" %}
                        <option value="/temperatura">Temperatura</option>
                        <option value="/umidade">Umidade do Solo "
                        <option value="/luminosidade">Vazão de Aguá </option>
                    {% elif user_permission == "usuario1" %}
                            <option value="/temperatura">Temperatura</option>
                            <option value="/umidade">Umidade do Solo"</option>
                    {% else %}
                            <option value=""> Sem Permição para acessar </option>
                    {% endif %}
                </select>
            </div>
            <div class="escolha">
                <!-- LOgica Para fazer a saber qual irrigação o Usuario pode acessar  -->
                <select name="" id="">
                    <option value="">-- Irrigação --</option>
                </select>
            </div>
        </div>

        <div class="nav-right">
                <a href="login.html">
                    <button class="btn-logout" >Sair</button>
                </a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
