<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <title>{% block title %}Sistema{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="nav">
        <a href="/home">
            <img src="{{ url_for('static', filename='img/pucpr.png') }}" alt="PUCPR Logo">
        </a>

        <div class="nav-left">
            <div class="dropdown">
                <button class="dropbtn">Ações</button>
                <div class="dropdown-content">
                    {% if user_permission.name == "admin" %}
                        <a href="/register_user">Registrar Usuário</a>
                        <a href="/register_tema">Registrar Tema</a>
                        <a href="/register_routine">Registrar nova Rotina</a>
                        <a href="/registre_device">Registrar novo Dispositivo</a>
                    {% elif user_permission.name == "usuario1" %}
                        <a href="/registrar_tema">Registrar Tema</a>
                        <a href="/register_routine">Registrar nova Rotina</a>
                        <a href="/registre_device">Registrar novo Dispositivo</a>
                    {% else %}
                        <a href="/registre_device">Registrar novo Dispositivo</a>
                    {% endif %}
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Acessar</button>
                <div class="dropdown-content">
                    {% if user_permission.name == "admin" %}
                        <a href="/user">Usuários</a>
                        <a href="/tema">Temas</a>
                        <a href="/rotina">Rotinas</a>
                        <a href="/dispositivo">Dispositivos</a>
                    {% elif user_permission.name == "usuario1" %}
                        <a href="/tema">Temas</a>
                        <a href="/rotina">Rotinas</a>
                        <a href="/dispositivo">Dispositivos</a>
                    {% else %}
                        <a href="/dispositivo">Dispositivos</a>
                    {% endif %}
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Dados dos Sensores</button>
                <div class="dropdown-content">
                    {% if user_permission.name == "admin" %}
                        <a href="/temperatura">Temperatura</a>
                        <a href="/umidade">Umidade do Solo</a>
                        <a href="/luminosidade">Vazão de Água</a>
                    {% elif user_permission.name == "usuario1" %}
                        <a href="/temperatura">Temperatura</a>
                        <a href="/umidade">Umidade do Solo</a>
                    {% else %}
                        <a href="#">Sem Permissão</a>
                    {% endif %}
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Irrigação</button>
                <div class="dropdown-content">
                    <a href="#">Opção 1</a>
                    <a href="#">Opção 2</a>
                </div>
            </div>
        </div>

        <div class="nav-right">
            <a href="/logout">
                <button class="btn-logout">Sair</button>
            </a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
