{% extends "base.html" %}

{% block title %}Times{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
<div class="card-padrao">
    <div class="titulo">
        <p>Locais</p>
    </div>

    <div class="list-team">
        {% if locales %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Time</th>
                        <th>Descrição</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for locale in locales %}
                        <tr>
                            <td>{{ locale.name }}</td>
                            <td>{{ locale.team.name }}</td>
                            <td>{{ locale.note }}</td>
                            <td>
                                <a href="/api/locale/edit_locale?id={{locale.id}}">Editar</a>
                            </td>
                            <td>
                                <a href="/api/locale/del_loacle?id={{locale.id}}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum local cadastrado.</p>
        {% endif %}
    </div>

    <div class="card-lower">
        <div class="botoes">
            <a href="/api/locale/register_locale">
                <button>Cadastrar local</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
