<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="../static/css/base_login.css">
    </head>
    <body>
        <div class="card-login">
            <img alt="Logo PUCPR" class="logo-img" src="../static/img/pucprlogo.png">
            <div>
                <form action="">
                    <div class="inputs">
                        <div class="input-login">
                            <label for="email">E-mail</label>
                            <input id="email" placeholder="Digite seu e-mail" type="email">
                        </div>
                        <div class="input-login">
                            <label for="password">Senha</label>
                            <input id="password" placeholder="Digite sua senha" type="password">
                        </div>
                    </div>

                    <div class="button-div">
                        <button disabled>Entrar</button>
                        <div>
                            <a href="/recuperar_conta">Esqueceu a senha? <i class="ph ph-arrow-square-out"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
