<html>
    <head>
        <meta charset="UTF-8">
        <title>Nova Senha</title>
        <link rel="stylesheet" href="../static/css/base_login.css">
        <link rel="stylesheet" href="../static/css/recuperar_conta.css">
    </head>
    <body>
        <div class="card-login">
            <div class="titulo">
                <p>Nova Senha</p>
            </div>
            <form action="">
                <div class="inputs">
                    <div class="input-login">
                        <label for="nova-senha">Nova Senha</label>
                        <input id="nova-senha" placeholder="Digite sua nova senha" type="password">
                    </div>
                    <div class="input-login">
                        <label for="confirmar-senha">Confirmar Senha</label>
                        <input id="confirmar-senha" placeholder="Confirme sua nova senha" type="password">
                    </div>
                </div>
                <div class="button-div">
                    <button type="submit">Atualizar Senha</button>
                </div>
            </form>
        </div>
    </body>
</html>