<html>
    <head>
        <meta charset="UTF-8">
        <title>Recuperar Conta</title>
        <link rel="stylesheet" href="../static/css/recuperar_conta.css">
        <link rel="stylesheet" href="../static/css/base_login.css">
        <script defer src="../static/js/recuperar_conta.js"></script>
        <!-- Fontes -->
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">   
    </head>
    <body>
        <div id="card">  
        </div>
    </body>
</html>
