{% extends "base.html" %}
{% block title %}Registrar Rotina{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registrar_usuario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register_routine.css') }}">
{% endblock %}

{% block content %}
<div class="card-padrao">
    <div class="titulo">
        <p>Nova Rotina</p>
    </div>
    <form action="http://localhost:8080/api/routine/add_routine" method="post">
        <div class="formulario">
            <div class="form-left">
                <p>Horário de Início</p>
                <input type="time" name="begin_time" required>

                <p>Litros de Água</p>
                <input type="number" name="liters_of_water" placeholder="Litros de Água" step="0.1" min="0" required>
                <p>Local</p>
                <select name="locale_id" required>
                    {% for locale in locales %}
                    <option value="{{ locale.id }}">{{ locale.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-right">
                <p>Horário de Fim</p>
                <input type="time" name="end_time" required>

                <p>Definir rotina como ativa</p>
                <select name="ativa" required>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>

        <div class="lower-card">
            <div class="botoes">
                <div class="espacamento"></div>
                <button type="submit" class="btn-cadastrar">Cadastrar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
