<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar Usuário</title>
    <link rel="stylesheet" href="../static/css/registrar_usuario.css">
    <script src="../static/js/registrar_usuario.js" defer></script>
</head>
<body>
        <!-- 
        
        <header class="header">
            <img src="../static/img/pucprlogo.png" alt="PUCPR Logo" class="logo">

            <div class="menu-toggle" id="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </header>

        <nav class="menu" id="menu">
            <ul>
                <li><a href="registrar_novo_local.html">Cadastre novo local</a></li>
            </ul>
        </nav>

        <main style="margin-top: 150px;"> </main>
        -->
            <div class="card-padrao">
                <h1>Bem-vindo!</h1>
                <p>Este é um exemplo de conteúdo dentro do seu card.</p>
            </div>
        
    </body>
</html>