{% extends "base.html" %}

{% block title %}Rotinas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rotina.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block content %}
<div class="card-padrao">

    <div class="titulo">
        <p> Rotinas </p>
    </div>

    <div class="list-rotina">
        {% if routines|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Horário</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for routine in routines %}
                        <tr>
                            <td>{{ routine.id }}</td>
                            <td>{{ routine.horario_inicio }} - {{ routine.horario_fim }}</td>
                            <td><a href="/edt_routine/{{ routine.id }}">Editar</a></td>
                            <td><a href="/del_routine/{{ routine.id }}">Excluir</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhuma Rotina Cadastrada.</p>
        {% endif %}
    </div>

    <div class="card-lower">
        <div class="botoes">
            <a href="/add_routine" class="botao-link">
                Cadastrar Rotina
            </a>
        </div>
    </div>

</div>
{% endblock %}
