{% extends "base.html" %}

{% block title %}Registrar Usuário{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
<div class="card-padrao">

    <div class="titulo">
        <p> Temes </p>
    </div>

    <div class="list-team">
        {% if teams|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td><a href="/edt_teams/{{ teams.id }}">Editar</a></td>
                            <td><a href="/del_teams/{{ teams.id }}">Excluir</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum usuário cadastrado.</p>
        {% endif %}
    </div>

    <div class="card-lower">
        <div class="botoes">
            <a href="#">
                <button>Cadastrar Usuário</button>
            </a>
        </div>
    </div>

</div>
{% endblock %}
