{% extends "base.html" %}

{% block title %}Times{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
<div class="card-padrao">
    <div class="titulo">
        <p>Times</p>
    </div>

    <div class="list-team">
        {% if teams %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                <a href="/api/team/edit_team?id={{team.id}}">Editar</a>
                            </td>
                            <td>
                                <button onclick=""> Excluir </button>
                                <a href="/api/team/del_team?id={{team.id}}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum time cadastrado.</p>
        {% endif %}
    </div>

    <div class="card-lower">
        <div class="botoes">
            <a href="/api/team/register_team">
                <button>Cadastrar Time</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
