body {
    padding: 0;
    margin: 0;
    background-image: url("../img/Fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;
    user-select: none;
}

.card-padrao {
    margin-top: 50px;
    width: 60%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titulo {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo p {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-weight: 100;
}

.formulario {
    width: 100%;
    height: 60%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.formulario p {
    font-family: "Ubuntu", sans-serif;
}

.formulario input,
.formulario select {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

.form-left {
    width: 50%;
    height: 100%;
}

.form-right {
    width: 50%;
    height: 100%;
}

.botoes {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botoes button {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #4A92FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

button:enabled:hover {
    background-color: #247cff;
    transform: scale(1.05);
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}
